# Ignore node_modules directory
node_modules/
.env
untrackdbsampleserver.js
untrackgreeting.txt
untracknotes.js
untracknotes.txt
untrackserver2.js
untrackserver4.js
untrackserver9.js

# Other entries...